div(class="overlay" id="sidebar")
    a(class="closebtn" onclick="closeNav()") &times;
    div(class="overlay-content")
        a(href="#") Contacts
        a(href="#") Create Lebel
        a(href="#") Settings
        a(href="#") Help & Feed Back

