div(class="overlay" id="sidebar")
    a(class="closebtn" onclick="closeNav()") &times;
    div(class="overlay-content")
        a(href="#" class="menu-item") Contacts
        a(href="#" class="menu-item") Create Lebel
        a(href="#" class="menu-item") Settings
        a(href="#" class="menu-item") Help & Feed Back

