extends home

block links
    link(rel="stylesheet", href="./css/style.css")
    link(rel="stylesheet", href="./css/sidebar.css")
    link(rel="stylesheet", href="./css/login.css")
    link(rel="stylesheet", href="./css/home.css")
    link(rel="stylesheet", href="./css/addContact.css")
    link(rel="stylesheet", href="./css/signup.css")

block content
    form(action="/addContact" method="post" calss="addContactForm")
        .addContact-container
            div(id="addContact-heading-container")
                a(class="cancel-btn" id="addContact-cance" href="/") Cancel
                button(type="submit" id="addContact-save") Save
                span(id="addContact-page-heading") Add New Contact
            br
            hr
            lebel(for="photo") Photo :
            input(type="file" name="photo" placeholder="Photo")
            input(type="text" placeholder="First Name" name="firstName")
            input(type="text" placeholder="Last Name" name="lasttName")
            input(type="text" placeholder="Workplace" name="workplace")

            div(id="phone-container")
            button(type="button" class="plus-btn" onclick="addContact()" ) + 
            span &nbsp; Contact

            div(id="email-container")
            button(type="button" class="plus-btn" onclick="addEmail()" ) + 
            span &nbsp; Email

            div(id="date-container")
            button(type="button" class="plus-btn" onclick="addDate()" ) + 
            span &nbsp; Date

            div(id="website-container")
            button(type="button" class="plus-btn" onclick="addWebsite()" ) + 
            span &nbsp; Website

            div(id="address-container")

            button(type="button" class="plus-btn" onclick="addAddress()" ) + 
            span &nbsp; Address

    block script
        script(src="./js/script.js")
        script(src="./js/sidebar.js")
        script(src="./js/login.js")
        script(src="./js/signup.js")
        script(src="./js/addContact.js")