.container{
    position: relative;
    min-height: 90vh;
    width: 100%;
    padding: 16px;
}

#addContact{
    background-color: #5b78c7;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
#addContact:hover{
    background-color: #0044ff;
    cursor: pointer;
}
